<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBStCPepiGQ7b-uxw0rjCdOkCUv8aKQNHU</string>
	<key>GCM_SENDER_ID</key>
	<string>984742690738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acmMobile</string>
	<key>PROJECT_ID</key>
	<string>scu-acm-test</string>
	<key>STORAGE_BUCKET</key>
	<string>scu-acm-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984742690738:ios:b5ebc4463c5a0ae6d76eab</string>
</dict>
</plist>